body {
  background-color: #dbdbdb;
  background-size: 100%;
}

.storyChunk{ /*changes the size weight and color of the storyChunk links.. lets change this to story-chunk*/
  font-size: 24px;
  font-weight: 800;
  color: black;
  transition: all 0.25s ease;
  text-decoration: none;
}

.storyChunk:hover{/*changes the deco and color of hover.. lets change this to story-chunk*/
  font-size: 32px;
  text-decoration: none;
  text-shadow: 0px 0px 1px green;
}

.chunk{
  min-width: 200px;
  margin-left: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  border-radius: 20px !important;
  background-color: rgba(255,255,255,0.5) !important;
  border-color: #9bba1d !important;
  border-style: dashed !important;
}

.chunks{
  display: flex;
  overflow-x: auto;
}

.upchunked{
  color: green;
}

.downchunked{
  color: red;
}

.chunkDisplay {
  display: flex;
}

.tree-info{
  display: flex; /*need this for top part of story page*/
}

.title-popularity {
  width: 25px;
  height: 25px;
}

.popularity {
  display: flex;
  font-size: 20px;
  height: 25px;
  justify-content: center;
}

.panel-body a{
  font-size: large;
  color: black;
}

.panel-body a:hover{
  font-size: large;
  color: black;
  font-style: none;
}

.badge {
  line-height: normal !important;
  margin: 0px 10px 0px 10px;
  background-color: darkgreen !important;
  height: 25px; /*badge looks weird with current style*/
  width: 25px;
}

.tree-panel {
  -webkit-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.29) !important;
  -moz-box-shadow: 3px 5px 5px 2px rgba(0,0,0,0.29) !important;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.27) !important;
}

.logo .container {
  margin: 0 !important;
  padding: 0 !important;
}

.story-background-image {
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
  background-position: 40px center;
  margin: 0px !important;
  padding: 0px !important;
}

.story-background-gradient{
  background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,.9), rgba(255,255,255,.5),rgba(255,255,255,.9), rgba(255,255,255,1));
  margin: 0px !important;
  padding: 0px !important;
  height: 100vh;
}

.story-content, .tree-list-content {
  margin-top: 80px;
}

.story-content-top {
  display: flex;
}

.navbar {
  margin-bottom: 0px !important;
  border-radius: 0px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  background-color: rgba(255,255,255,0.3) !important;
  border-color: #9bba1d !important;
  border-style: dashed !important;
}

.navbar-brand {
  padding: 7px !important;
}

.navbar-collapse.collapse.in{
  border: none;
  text-align: right;
}
