body {
  background-color: #dbdbdb;
  background-size: 100%;
}
/*----------------------navbar CSS---------------*/
.navbar {
  border-radius: 0px;
}

.navbar a {
  font-size: 16px;
  color: white;
}
.navbar a:hover {
  color: white;
  text-decoration: none;
}

.navbar .container {
  width: 100%;
}

.navbar-brand {
  position: absolute;
  max-width: 420px;
  padding-bottom: 0;
}

@media (max-width:480px) {
  .navbar-brand {
    max-width: 80vw;
  }
}

.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  font-family: 'Raleway', sans-serif;
}

.navButton {
  background-color: white;
  color: black;
}

.navButton:hover {
  background-color: black;
}

Button:active {
  background-color: white;
}

Button:focus {
  background-color: white;
}

.navLinks {
  margin-top: 1vh;
}

/* Make the collapsed navbar show up on a larger screen size than
 * bootstrap's default
 * http://stackoverflow.com/questions/21076922/bootstrap-how-to-collapse-navbar-earlier
 */
@media only screen and (max-width : 992px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
    display:block !important;
  }
  .navbar-header {
    float:none;
  }
}
/*--------------------homepage CSS-------------*/
.dogContainer {
  width: 100vw;
  height: 100%;
}

.homeContainer {
  background-size: cover;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  -webkit-transition: transform 3s ease-in-out;
  background: url(/images/logo3.png) no-repeat, url(/images/dogsrunning2.jpg) no-repeat;
  background-size: 300px, cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin-top: -20px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
  background-attachment: fixed
}

@media (max-width:480px) {
  .header {
    background: url(/images/logo3.png) no-repeat, url(/images/dogsrunningcropped.jpg) no-repeat;
    background-size: 250px, cover;
    background-position: center;
  }
}

.header img {
  max-width: 100%;
  -moz-transition: all 1.4s;
  -webkit-transition: all 1.4s;
  -webkit-transition: all .5s ease-in-out;
}

.header:hover {
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.browsePetsRow {
  background-color: #dbdbdb;
}

.row {
  padding: 30px;
}

.homeGrid {
  background-color: #222222;
}

.aboutGlyphicon {
  font-size: 32px;
}

.aboutDiv {
  text-align: center;
  color: #dbdbdb;
  font-family: 'Raleway', sans-serif;
  padding: 0 30px;
}

.aboutDiv p {
  font-size: 20px;
}

@media only screen and (max-width : 992px) {
  .aboutDiv h2, .aboutDiv h2 {
    font-size: 32px;
  }
}

.aboutHeader {
  font-family: 'Raleway', sans-serif;
}

.browse-header h1 {
  font-family: 'Raleway', sans-serif;
  color: #222222;
}

.homediv1 {
  margin: 3%;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  box-shadow: 3px 4px 23px -1px rgba(0,0,0,0.48);
}

.homediv1 img {
  -moz-transition: all 1.4s;
  -webkit-transition: all 1.4s;
  -webkit-transition: all .5s ease-in-out;
  opacity: 0.8;
}

.homediv1:hover img {
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  opacity: 1;
  transition: 1s;
}

.homediv2 {
  margin: 3%;
  font-family: 'Raleway', sans-serif;
  box-shadow: 3px 4px 23px -1px rgba(0,0,0,0.48);
}

.homediv2 img {
  -moz-transition: all 1.4s;
  -webkit-transition: all 1.4s;
  -webkit-transition: all .5s ease-in-out;
  opacity: 0.8;
}

.homediv2:hover img {
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  opacity: 1;
  transition: 1s;
}

/*------------------------------------DisplayPets----------------------*/
/*
@media only screen and (max-width : 1500px) {}
@media only screen and (max-width : 1200px) {}
@media only screen and (max-width : 992px) {}
@media only screen and (max-width : 768px) {}*/

/*
 * Largest Screens - Everything above 1450px
 * NOTE: That all of the wrapper widths should be sized to the media query
 * max width one screen size lower.
 */
#wrapper {
	width: 1500px;
  padding-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}

#columns {
  margin-top: 50px;
  column-count: 4;
}

.thumbnail.pet-card {
  display: inline-block;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;

  box-shadow: -2px 4px 10px -1px rgba(0,0,0,.4);
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  background-color: #f2f2f2;
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  text-align: justify;
  width: 100%;
}

.thumbnail.pet-card img {
  width: 100%;
  border-radius: 5px;
}

/* modal */
#card-text {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: justify;
}

.progress {
  background-color: #b6b6b6;
}

.green-bar .progress-bar {
  font-size: 16px;
  background-color: #25b38d;
  text-align: left;
  text-indent: 15px;
}

.red-bar .progress-bar {
  font-size: 16px;
  background-color: #d3505d;
  text-align: left;
  text-indent: 15px;
}

.heart-button {
  color: #d3505d;
}

/* Full screen (on a 15" MBP at least) */
@media only screen and (max-width : 1500px) {
  #wrapper {
  	width: 1200px;
  }
}

@media only screen and (max-width : 1200px) {
  #wrapper {
  	width: 992px;
  }

  #columns {
    column-count: 3;
  }
}

/* medium & small screens */
@media only screen and (max-width : 992px) {
  #wrapper {
  	width: 90%;
  }

  #columns {
    column-count: 1;
  }

  .thumbnail.pet-card {
    font-size: 48px;
  }

  h2 {
    font-size: 60px;
  }
  h4 {
    font-size: 20px;
  }

  button.btn {
    font-size: 20px;
  }
}
