body {
  background-size: 100%;
  background-color: rgb(229, 229, 229);
}

#app {
  background-color: rgb(229, 229, 229);
  height: auto;
  min-height: 100vh;
}

.googlebtn{
  background-color: #a1bc31;
  border: none;
}

.read-story-link:hover{
  cursor: pointer;
}

.following-button, .follow-button{
  width: 93px;
  height: 37px;
}

.following-button:before{
  content: "Following";
}

.following-button:hover:before{
  content: "Unfollow";
}

.storyChunk{ /*changes the size weight and color of the storyChunk links.. lets change this to story-chunk*/
  font-family: 'Walter Turncoat', cursive;
  font-family: 'Rokkitt', serif;
  font-size: 24px !important;
  font-weight: 800;
  color: black !important;
  transition: all 0.25s ease;
  text-decoration: none !important;
}

.storyChunk:hover{/*changes the deco and color of hover.. lets change this to story-chunk*/
  font-size: 24px !important;
  text-decoration: none !important;
  text-shadow: 0px 0px 1px green;
}

.chunk{
  min-width: 350px;
  margin-left: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  border-radius: 20px !important;
  background-color: rgba(255,255,255,0.5) !important;
  border-color: #9bba1d !important;
  border-style: dashed !important;
}

.chunks{
  font-family: 'Rokkitt', serif;
  display: flex;
  overflow-x: auto;
  margin-bottom: 250px !important;
}

.upchunked{
  color: green;
}

.downchunked{
  color: red;
}

.chunkDisplay, .flexy {
  display: flex;
}

.flexy {
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.tree-popularity{
  margin-left: 10px;
  position: relative;
  foat: right;
}

.tree-info{
  font-size: 64px;
  font-style: oblique;
  text-align: center;
  width: 100vw;
  margin-bottom: 20px;
}

.story{
  margin-left: 60px !important;
  margin-right: 60px !important;
  margin-bottom: 60px !important;
  background-color: rgba(255,255,255,0.5) !important;

}

.title-popularity {
  width: 25px;
  height: 25px;
}

.tree-story{
  width: 50%;
}

.popularity {
  display: flex;
  font-size: 20px;
  height: 25px;
  justify-content: center;
}

.panel-body a{
  font-size: large;
  color: black;
}

.panel-body a:hover{
  font-size: large;
  color: black;
  font-style: none;
}

.badge {
  line-height: normal !important;
  margin: 0px 10px 0px 10px;
  background-color: darkgreen !important;
  height: 25px; /*badge looks weird with current style*/
  width: 25px;
}

.tree-panel {
  width: 80vw;
  margin: auto;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.29) !important;
  -moz-box-shadow: 3px 5px 5px 2px rgba(0,0,0,0.29) !important;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.27) !important;
}

.tree-dashboard-panel {
  width: 15vw;
  margin: auto;
  align-content: center;
  text-align: left;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.29) !important;
  -moz-box-shadow: 3px 5px 5px 2px rgba(0,0,0,0.29) !important;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.27) !important;
}

.trees-display {
  display: flex;
}

.tree-columns {
  width: 170px;
  padding-left: 15px;
  padding-right: 30px;
}

.tree-columns > a > h3 {
  margin-top: 0px;
}

.preview:hover{
  text-shadow: 0px 0px 1px green;
}

.logo .container {
  margin: 0 !important;
  padding: 0 !important;
}

.story-background-image {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0px !important;
  padding: 0px !important;
  height: auto;
  min-height: 100vh;
}

.story-background-gradient{
  background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,.9), rgba(255,255,255,.5),rgba(255,255,255,.6), rgba(255,255,255,.8));
  margin: 0px !important;
  padding: 0px !important;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: auto;
  min-height: 100vh;
}

.story-content, .tree-list-content, .dashboard-content {
  margin-top: 60px;
}

.dashboard-content {
  margin-top: 90px !important;
}

.story-content-top {
  display: flex;
}

.navbar {
  margin-bottom: 0px !important;
  background-color: rgba(144,178,4,0.8)!important;
  border-radius: 0px !important;
}

.navbar-brand {
  padding: 7px !important;
}

.navbar-collapse.collapse.in{
  border: none;
  text-align: right;
}

.navbar-collapse.collapsing{
  border: none;
  text-align: right;
}

.header-text {
  margin-top: 80px;
}

.thumbnail img {
  height: 250px !important;
  width: 100% !important;
}

.thumbnail {
  margin: 10px !important;
  width: 190px !important;
}

.modal {
  font-family: 'Walter Turncoat', cursive;
  font-size: 20px;
}

.modal input {
  margin-bottom: 10px;
  width: 100px;
}

.modal-header {
  background-color: #59c9ef;
}

.about-text {
  margin: 10px !important;
}
